In [1]:
import pandas as pd

df = pd.read_csv("dataset.csv")
print(df.head())
#print(df.info())

ParserError: Error tokenizing data. C error: Expected 6 fields in line 63, saw 7

In [6]:
df.isnull().sum()

title       0
genres      0
overview    0
cast        0
crew        0
movie_id    0
dtype: int64

In [7]:
df['Hero'] = df['Hero'].fillna("Unknown")
df['Director'] = df['Director'].fillna("Unknown")
df['Genre'] = df['Genre'].fillna("Unknown")

KeyError: 'Hero'

In [8]:
df['Hero'] = df['Hero'].str.strip().str.lower()
df['Director'] = df['Director'].str.strip().str.lower()
df['Genre'] = df['Genre'].str.strip().str.lower()
df['Movie_Title'] = df['Movie_Title'].str.strip()

KeyError: 'Hero'

In [9]:
df["Title_Length"] = df["Movie_Title"].apply(len)

KeyError: 'Movie_Title'

In [10]:
df.columns

Index(['title', 'genres', 'overview', 'cast', 'crew', 'movie_id'], dtype='object')

In [11]:
import ast
import pandas as pd

# Load your dataset
df = pd.read_csv("tollywood_movies_dataset.csv")

# ---- Clean Genres ----
df['genres'] = df['genres'].apply(lambda x: [i['name'] for i in ast.literal_eval(x)] 
                                  if x != "[]" else [])

# ---- Extract Top 3 Cast ----
def extract_actors(obj):
    obj = ast.literal_eval(obj)
    actors = [i['name'] for i in obj]
    return actors[:3]

df['cast'] = df['cast'].apply(extract_actors)

# ---- Extract Director from Crew ----
def get_director(obj):
    obj = ast.literal_eval(obj)
    for i in obj:
        if i['job'] == 'Director':
            return i['name']
    return "Unknown"

df['crew'] = df['crew'].apply(get_director)

# ---- Clean Overview (summary) ----
df['overview'] = df['overview'].fillna("")

df.head()

ValueError: malformed node or string on line 1: <ast.Name object at 0x00000246037B6500>

In [12]:
df['genres'].iloc[0]
type(df['genres'].iloc[0])

str

In [13]:
import pandas as pd

df = pd.read_csv("tollywood_movies_dataset.csv")

# ---- Clean Genres ----
# Already a list, so nothing needed
df['genres'] = df['genres'].apply(lambda x: eval(x) if isinstance(x, str) else x)

# ---- Clean Cast ----
df['cast'] = df['cast'].apply(lambda x: eval(x)[:3] if isinstance(x, str) else x[:3])

# ---- Extract Director ----
def extract_director(crew):
    if isinstance(crew, str):
        crew = eval(crew)
    for member in crew:
        if member.get('job') == 'Director':
            return member.get('name')
    return "Unknown"

df['crew'] = df['crew'].apply(extract_director)

# ---- Overview ----
df['overview'] = df['overview'].fillna("")

NameError: name 'Mythological' is not defined

In [14]:
import pandas as pd
import re

df = pd.read_csv("tollywood_movies_dataset.csv")

def fix_list_format(text):
    if isinstance(text, list):
        return text
    text = str(text)
    # Remove outer spaces
    text = text.strip()

    # Replace unquoted words with quoted words
    text = re.sub(r"(?<=\[)(.*?)(?=\])", lambda m: 
                  ", ".join([f'"{item.strip()}"' for item in m.group(1).split(',')]), text)

    return eval(text)

df['genres'] = df['genres'].apply(fix_list_format)
df['cast'] = df['cast'].apply(fix_list_format)

NameError: name 'Mythological' is not defined

In [15]:
# Top 3 actors
df['cast'] = df['cast'].apply(lambda x: x[:3] if isinstance(x, list) else [])

# Extract director from crew
import ast

def extract_director(crew):
    if isinstance(crew, str):
        try:
            crew = ast.literal_eval(crew)
        except:
            return "Unknown"
    for member in crew:
        if member.get("job") == "Director":
            return member.get("name")
    return "Unknown"

df['crew'] = df['crew'].apply(extract_director)

# Clean overview
df['overview'] = df['overview'].fillna("")

In [16]:
import pandas as pd
import re

df = pd.read_csv("tollywood_movies_dataset.csv")

def fix_list(text):
    text = str(text).strip()

    # Remove [ and ]
    inner = text.strip("[]").strip()

    if not inner:
        return []

    # Split by comma
    parts = [p.strip() for p in inner.split(",")]

    # Add quotes to every word
    parts = [f'"{p}"' for p in parts]

    # Join back into valid list string
    fixed = "[" + ", ".join(parts) + "]"

    # Now safely eval
    return eval(fixed)

df['genres'] = df['genres'].apply(fix_list)
df['cast']   = df['cast'].apply(lambda x: fix_list(x)[:3])

In [17]:
df

,title,genres,overview,cast,crew,movie_id
0,Mayabazar,[Mythological],A classic fantasy drama.,"[NTR, Savitri]",K. V. Reddy,1
1,Baahubali: The Beginning,[Epic Action],A warrior rises to discover his legacy.,"[Prabhas, Rana]",Rajamouli,2
2,Baahubali 2: The Conclusion,[Epic Action],The continuation of Baahubali saga.,"[Prabhas, Anushka]",Rajamouli,3
3,RRR,[Period Action],Two revolutionaries fight for freedom.,"[Ram Charan, NTR]",Rajamouli,4
4,Pushpa,[Action Drama],A laborer rises in red sandalwood smuggling.,"[Allu Arjun, Rashmika]",Sukumar,5
5,Athadu,[Action Thriller],A hitman becomes part of a family accidentally.,"[Mahesh Babu, Trisha]",Trivikram,6
6,Pokiri,[Action],An undercover cop infiltrates mafia.,"[Mahesh Babu, Ileana]",Puri Jagannadh,7
7,Gabbar Singh,[Action Comedy],A man joins police to take revenge.,"[Pawan Kalyan, Shruti Hassan]",Harish Shankar,8
8,Khaidi No. 150,[Action Drama],An ex-convict fights against corporate corrupt...,"[Chiranjeevi, Kajal]",VV Vinayak,9
9,Sye Raa Narasimha Reddy,[Historical],Story of freedom fighter Uyyalawada Narasimha ...,"[Chiranjeevi, Nayanthara]",Surender Reddy,10
10,Magadheera,[Fantasy Action],Reincarnation love revenge drama.,"[Ram Charan, Kajal]",Rajamouli,11
11,Ala Vaikunthapuramulo,[Family Drama],A middle-class man discovers his real parents.,"[Allu Arjun, Pooja]",Trivikram,12
12,Sita Ramam,[Romantic Drama],A soldier and a girl exchange letters that cha...,"[Dulquer, Mrunal]",Hanu Raghavapudi,13
13,Salaar,[Action],A man protects his friend from enemies.,"[Prabhas, Prithviraj]",Prashanth Neel,14
14,Saaho,[Action Thriller],A thief and undercover police clash in a mystery.,"[Prabhas, Shraddha]",Sujeeth,15
15,Gaddalakonda Ganesh,[Action Comedy],A gangster's life is documented by a director.,"[Varun Tej, Atharvaa]",Harish Shankar,16
16,Tholi Prema,[Romantic],A love story of two opposite personalities.,"[Varun Tej, Raashi]",Venky Atluri,17
17,Bheemla Nayak,[Action],Conflict between a SI and retired army havildar.,"[Pawan Kalyan, Rana]",Saagar K Chandra,18
18,Jalsa,[Action Comedy],A cheerful lecturer with a painful past.,"[Pawan Kalyan, Ileana]",Trivikram,19
19,Sarileru Neekevvaru,[Action Comedy],An army major protects a family from a minister.,"[Mahesh Babu, Rashmika]",Anil Ravipudi,20
20,Bharat Ane Nenu,[Political],A young CM tries to change the system.,"[Mahesh Babu, Kiara]",Koratala Siva,21
21,Acharya,[Action],A naxal-fighting story in a temple town.,"[Chiranjeevi, Ram Charan]",Koratala Siva,22
22,Bro,[Fantasy Drama],A man gets a second chance from Time God.,"[Pawan Kalyan, Sai Dharam Tej]",Samuthirakani,23
23,Virupaksha,[Mystery Thriller],A man uncovers secrets behind deaths.,"[Sai Dharam Tej, Samyuktha]",Karthik Varma,24
24,Subramanyam For Sale,[Rom-Com],A boy acts as fianc for money.,"[Sai Dharam Tej, Regina]",Harish Shankar,25

In [18]:
import ast

def extract_director(crew):
    try:
        crew_list = ast.literal_eval(crew)
    except:
        return "Unknown"

    for member in crew_list:
        if member.get("job") == "Director":
            return member.get("name")

    return "Unknown"

df["director"] = df["crew"].apply(extract_director)

In [19]:
df["overview"] = df["overview"].fillna("")

In [20]:
import ast

def convert(text):
    try:
        return ast.literal_eval(text)
    except:
        return []

df['crew'] = df['crew'].apply(convert)

In [21]:
def get_director(crew_list):
    for item in crew_list:
        if item.get('job') == 'Director':
            return item.get('name')
    return "unknown"

df['director'] = df['crew'].apply(get_director)

In [22]:
df[['title', 'director']].head()

                         title director
0                    Mayabazar  unknown
1     Baahubali: The Beginning  unknown
2  Baahubali 2: The Conclusion  unknown
3                          RRR  unknown
4                       Pushpa  unknown

In [23]:
df

,title,genres,overview,cast,crew,movie_id,director
0,Mayabazar,[Mythological],A classic fantasy drama.,"[NTR, Savitri]",[],1,unknown
1,Baahubali: The Beginning,[Epic Action],A warrior rises to discover his legacy.,"[Prabhas, Rana]",[],2,unknown
2,Baahubali 2: The Conclusion,[Epic Action],The continuation of Baahubali saga.,"[Prabhas, Anushka]",[],3,unknown
3,RRR,[Period Action],Two revolutionaries fight for freedom.,"[Ram Charan, NTR]",[],4,unknown
4,Pushpa,[Action Drama],A laborer rises in red sandalwood smuggling.,"[Allu Arjun, Rashmika]",[],5,unknown
5,Athadu,[Action Thriller],A hitman becomes part of a family accidentally.,"[Mahesh Babu, Trisha]",[],6,unknown
6,Pokiri,[Action],An undercover cop infiltrates mafia.,"[Mahesh Babu, Ileana]",[],7,unknown
7,Gabbar Singh,[Action Comedy],A man joins police to take revenge.,"[Pawan Kalyan, Shruti Hassan]",[],8,unknown
8,Khaidi No. 150,[Action Drama],An ex-convict fights against corporate corrupt...,"[Chiranjeevi, Kajal]",[],9,unknown
9,Sye Raa Narasimha Reddy,[Historical],Story of freedom fighter Uyyalawada Narasimha ...,"[Chiranjeevi, Nayanthara]",[],10,unknown
10,Magadheera,[Fantasy Action],Reincarnation love revenge drama.,"[Ram Charan, Kajal]",[],11,unknown
11,Ala Vaikunthapuramulo,[Family Drama],A middle-class man discovers his real parents.,"[Allu Arjun, Pooja]",[],12,unknown
12,Sita Ramam,[Romantic Drama],A soldier and a girl exchange letters that cha...,"[Dulquer, Mrunal]",[],13,unknown
13,Salaar,[Action],A man protects his friend from enemies.,"[Prabhas, Prithviraj]",[],14,unknown
14,Saaho,[Action Thriller],A thief and undercover police clash in a mystery.,"[Prabhas, Shraddha]",[],15,unknown
15,Gaddalakonda Ganesh,[Action Comedy],A gangster's life is documented by a director.,"[Varun Tej, Atharvaa]",[],16,unknown
16,Tholi Prema,[Romantic],A love story of two opposite personalities.,"[Varun Tej, Raashi]",[],17,unknown
17,Bheemla Nayak,[Action],Conflict between a SI and retired army havildar.,"[Pawan Kalyan, Rana]",[],18,unknown
18,Jalsa,[Action Comedy],A cheerful lecturer with a painful past.,"[Pawan Kalyan, Ileana]",[],19,unknown
19,Sarileru Neekevvaru,[Action Comedy],An army major protects a family from a minister.,"[Mahesh Babu, Rashmika]",[],20,unknown
20,Bharat Ane Nenu,[Political],A young CM tries to change the system.,"[Mahesh Babu, Kiara]",[],21,unknown
21,Acharya,[Action],A naxal-fighting story in a temple town.,"[Chiranjeevi, Ram Charan]",[],22,unknown
22,Bro,[Fantasy Drama],A man gets a second chance from Time God.,"[Pawan Kalyan, Sai Dharam Tej]",[],23,unknown
23,Virupaksha,[Mystery Thriller],A man uncovers secrets behind deaths.,"[Sai Dharam Tej, Samyuktha]",[],24,unknown
24,Subramanyam For Sale,[Rom-Com],A boy acts as fianc for money.,"[Sai Dharam Tej, Regina]",[],25,unknown

In [24]:
# Convert JSON strings to Python lists
import ast

def convert(text):
    try:
        return ast.literal_eval(text)
    except:
        return []

df['genres'] = df['genres'].apply(convert)
df['cast'] = df['cast'].apply(convert)

In [25]:
def get_names(list_data):
    return [item['name'] for item in list_data if 'name' in item]

df['genres'] = df['genres'].apply(get_names)
df['cast'] = df['cast'].apply(get_names)

In [26]:
df['tags'] = df['genres'] + df['cast'] + df['overview'].apply(lambda x: x.split())

In [27]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

In [28]:
df[['title', 'tags']].head()

                         title                                          tags
0                    Mayabazar                      A classic fantasy drama.
1     Baahubali: The Beginning       A warrior rises to discover his legacy.
2  Baahubali 2: The Conclusion           The continuation of Baahubali saga.
3                          RRR        Two revolutionaries fight for freedom.
4                       Pushpa  A laborer rises in red sandalwood smuggling.

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

vectors = cv.fit_transform(df['tags']).toarray()

In [30]:
vectors.shape

(25, 93)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)
similarity.shape

(25, 25)

In [32]:
similarity.shape

(25, 25)

In [33]:
def recommend(movie):
    movie = movie.lower()

    # Check if movie exists
    if movie not in df['title'].str.lower().values:
        return ["Movie not found in dataset"]

    # Get index of the movie
    idx = df[df['title'].str.lower() == movie].index[0]

    # Get similarity scores
    distances = list(enumerate(similarity[idx]))

    # Sort movies by similarity
    movies_list = sorted(distances, reverse=True, key=lambda x: x[1])[1:6]

    # Return top 5 recommendations
    recommendations = []
    for i in movies_list:
        recommendations.append(df.iloc[i[0]].title)

    return recommendations

In [34]:
recommend("Sye Raa Narasimha Reddy")

['RRR', 'Tholi Prema', 'Acharya', 'Mayabazar', 'Baahubali: The Beginning']

In [38]:
recommend("Athadu")

['Sarileru Neekevvaru',
 'Mayabazar',
 'Baahubali: The Beginning',
 'Baahubali 2: The Conclusion',
 'RRR']

In [133]:
df

,title,genres,overview,cast,crew,movie_id,director,tags
0,Mayabazar,[],A classic fantasy drama.,[],[],1,unknown,A classic fantasy drama.
1,Baahubali: The Beginning,[],A warrior rises to discover his legacy.,[],[],2,unknown,A warrior rises to discover his legacy.
2,Baahubali 2: The Conclusion,[],The continuation of Baahubali saga.,[],[],3,unknown,The continuation of Baahubali saga.
3,RRR,[],Two revolutionaries fight for freedom.,[],[],4,unknown,Two revolutionaries fight for freedom.
4,Pushpa,[],A laborer rises in red sandalwood smuggling.,[],[],5,unknown,A laborer rises in red sandalwood smuggling.
5,Athadu,[],A hitman becomes part of a family accidentally.,[],[],6,unknown,A hitman becomes part of a family accidentally.
6,Pokiri,[],An undercover cop infiltrates mafia.,[],[],7,unknown,An undercover cop infiltrates mafia.
7,Gabbar Singh,[],A man joins police to take revenge.,[],[],8,unknown,A man joins police to take revenge.
8,Khaidi No. 150,[],An ex-convict fights against corporate corrupt...,[],[],9,unknown,An ex-convict fights against corporate corrupt...
9,Sye Raa Narasimha Reddy,[],Story of freedom fighter Uyyalawada Narasimha ...,[],[],10,unknown,Story of freedom fighter Uyyalawada Narasimha ...
10,Magadheera,[],Reincarnation love revenge drama.,[],[],11,unknown,Reincarnation love revenge drama.
11,Ala Vaikunthapuramulo,[],A middle-class man discovers his real parents.,[],[],12,unknown,A middle-class man discovers his real parents.
12,Sita Ramam,[],A soldier and a girl exchange letters that cha...,[],[],13,unknown,A soldier and a girl exchange letters that cha...
13,Salaar,[],A man protects his friend from enemies.,[],[],14,unknown,A man protects his friend from enemies.
14,Saaho,[],A thief and undercover police clash in a mystery.,[],[],15,unknown,A thief and undercover police clash in a mystery.
15,Gaddalakonda Ganesh,[],A gangster's life is documented by a director.,[],[],16,unknown,A gangster's life is documented by a director.
16,Tholi Prema,[],A love story of two opposite personalities.,[],[],17,unknown,A love story of two opposite personalities.
17,Bheemla Nayak,[],Conflict between a SI and retired army havildar.,[],[],18,unknown,Conflict between a SI and retired army havildar.
18,Jalsa,[],A cheerful lecturer with a painful past.,[],[],19,unknown,A cheerful lecturer with a painful past.
19,Sarileru Neekevvaru,[],An army major protects a family from a minister.,[],[],20,unknown,An army major protects a family from a minister.
20,Bharat Ane Nenu,[],A young CM tries to change the system.,[],[],21,unknown,A young CM tries to change the system.
21,Acharya,[],A naxal-fighting story in a temple town.,[],[],22,unknown,A naxal-fighting story in a temple town.
22,Bro,[],A man gets a second chance from Time God.,[],[],23,unknown,A man gets a second chance from Time God.
23,Virupaksha,[],A man uncovers secrets behind deaths.,[],[],24,unknown,A man uncovers secrets behind deaths.
24,Subramanyam For Sale,[],A boy acts as fianc for money.,[],[],25,unknown,A boy acts as fianc for money.

In [134]:
import pickle

# Save the movies dataframe
pickle.dump(df, open('movies.pkl', 'wb'))

# Save the similarity matrix
pickle.dump(similarity, open('similarity.pkl', 'wb'))